<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial scale=1.0">
        <title>Claude Chat</title>
        <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <script src="/static/script.js"></script>
    <div class="chat-container">
        <p>Claude 4 Chat</p>
        <div class="chat-box"></div>
        <div class="input-container">
            <input type="text" id="user_input" placeholder="Message Claude">
            <button id="submit">Send</button>
        </div>
    </div>
</body>
</html>